DATABASE_URL=postgresql://postgres:password@localhost:54321/pgxsinkit?sslmode=disable
ELECTRIC_URL=http://localhost:3000/v1/shape
WRITE_API_PORT=3001
# The backend to use for the write API. Options are "drizzle" or "bulk-dynamic" or "bulk-pregenerated" or "bulk-plpgsql" or "bulk-plpgsql-artifact".
WRITE_API_BACKEND=drizzle
# Enable/disable server-side operations logging. Restart the API process after changing.
WRITE_API_OPS_LOG_ENABLED=true
VITE_WRITE_API_URL=http://localhost:3001
VITE_ELECTRIC_URL=http://localhost:3000/v1/shape
VITE_BATCH_WRITE_URL=